* {
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic';
}


.navbar{
    background-color: black;
    height: 80px;

}

button {
    background-color: transparent;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 17px;
    margin-right: 13px;
    display: flex;
}
button:hover{
    cursor: pointer;
    background: #444444;
} 

#img-fundo {
    width: 100%; 
     height: 100%;
    background-image: url("../img/clienteinsatisfeito.png");
    background-size: cover;
}

p {
    text-align: center;
    padding: 10px;
    color: white;
}

h3 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}

button.meio{
    color: yellow;
    justify-content: right;
    padding-bottom: 10px;
    display: inline-block;
    background-color: transparent;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 17px;
    margin-right: 13px;
    
}

button.meio:hover{
    cursor: pointer;
    background: rgb(51, 255, 255);
    
} 
.form-group{
    text-align: center;
}
.form-group label{
    padding-top: 10px;
    color: white;
    
}

/* 

border-top: 2px solid red;
width: 100%; 
 height: 100%;
background-image: url("/img/clienteinsatisfeito.png");
background-size: cover; */
/* ------------------------------- */ 



div#esquerda {
    position: relative;
    flex: 1;
    align-items: initial;
    background: black;
    height: 100%;
    width: 35%;
    
}

div#meio {
    position: relative;
    flex: 1;
    align-items: initial;
    background: black;
    height: 100%;
    width: 35%;
    float: left;
}

div#direita {
    background: blue;
    position: relative;
	width: 30%;
	height: 200px;
    background-color: black;
    float: left;
	
}





/* ------------------------- */

#esquerda {
	position:relative;
	width: 500px;
	height: 200px;
	background-color: black;
	float: left;
}
#meio {
	position: relative;
	width: 300px;
	height: 200px;
	background-color: red;
	float: left;
}
#direita {
	position: relative;
	width: 548px;
	height: 200px;
	background-color: blue;
	float: left;
}



li {
    color: white;
    
    justify-content: center;
    margin: 0px;
    padding: 0px;

}

ul {
    margin-top: 20px;
    margin-left: 34px;
    
}

